*{margin:0;padding:0;box-sizing:border-box;}

body
{
background:linear-gradient(57deg,coral,white);
}
.tit
{
font-size:40px;
color:green;
}
.content{
color:brown;
font-size:25px;
position:absolute;
top:10%;
left:1%;
text-align:center;

}