*{margin:0;padding:0;box-sizing:border-box;}
body
{
background:linear-gradient(57deg,red,white);
}
.tit{
top:20%;
left:20%;
font-color:green;
font-size:25px;
}
.container
{
position:absolute;
top:20%;
left:40%;
width:650px;
height:600x;
}
.call
{
position:absolute;
left:43%;
top:60%;
}
.mail
{
position:absolute;
left:43%;
top:65%;
}
